@font-face
{
    font-family: 'Founders';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/FoundersGroteskWeb-Light.woff2') format('woff2'), url('../fonts/FoundersGroteskWeb-Light.woff') format('woff');
}

@font-face
{
    font-family: 'Founders';
    font-weight: 300;
    font-style: italic;

    src: url('../fonts/FoundersGroteskWeb-LightItalic.woff2') format('woff2'), url('../fonts/FoundersGroteskWeb-LightItalic.woff') format('woff');
}

@font-face
{
    font-family: 'Founders';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/FoundersGroteskWeb-Semibold.woff2') format('woff2'), url('../fonts/FoundersGroteskWeb-Semibold.woff') format('woff');
}

/* apply a natural box layout model to all elements, but allowing components to change */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html
{
    font-family: sans-serif;

    box-sizing: border-box;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

html,
body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    list-style: none;

    border: none;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a
{
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover,
a:focus
{
    outline: 0;
    box-shadow: none;
}

button:focus
{
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
b,
strong
{
    font-weight: bold;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1
{
    font-size: 2em;

    margin: .67em 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img
{
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root)
{
    overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea
{
    /* 1 */
    font: inherit;
    /* 2 */

    margin: 0;

    color: inherit;
    /* 3 */
}

body
{
    font-family: 'Founders', sans-serif;
    font-weight: 300;

    -webkit-animation: loading 1.5s ease-in-out;
            animation: loading 1.5s ease-in-out;
}

body.dark-view
{
    background: rgba(0, 0, 0, .95);
}

body.menu-open
{
    overflow: hidden !important;
}

@-webkit-keyframes loading
{
    from
    {
        background: #000;
    }
    to
    {
        background: #fff;
    }
}

@keyframes loading
{
    from
    {
        background: #000;
    }
    to
    {
        background: #fff;
    }
}

a
{
    color: #000;
}

.main * + *
{
    margin-top: 1.3rem;
}

@media screen and (min-width: 900px)
{
    .main * + *
    {
        margin-top: 1.9rem;
    }
}

.img-wrapper,
.project-item
{
    margin-top: 0;
}

.home-link
{
    font-weight: 700;

    margin-top: 0;
}

body,
body.dark-view,
nav,
.brand-logo path
{
    -webkit-transition: all 600ms ease-in-out;
            transition: all 600ms ease-in-out;
}

.main--home a
{
    -webkit-transition: color 600ms ease-in-out;
            transition: color 600ms ease-in-out;
}

.dark-view .brand-logo path
{
    -webkit-animation: none;
            animation: none;

    fill: #fff !important;
}

.dark-view nav
{
    color: #fff;
}

.dark-view .home-link:hover
{
    -webkit-transform: translateX(.1875rem);
            transform: translateX(.1875rem);

    opacity: .9;
    color: #fff;
}

.main-wrapper
{
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
    -webkit-animation: loading-txt 600ms 600ms ease-in-out;
            animation: loading-txt 600ms 600ms ease-in-out;

    opacity: 0;

    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
            animation-fill-mode: forwards;
}

@-webkit-keyframes loading-txt
{
    from
    {
        opacity: 0;
    }
    to
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}

@keyframes loading-txt
{
    from
    {
        opacity: 0;
    }
    to
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}

.main-wrapper
{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding-top: 6.4rem;
}

.main-wrapper h1
{
    font-size: 7.5vw;
    font-weight: 600;
    line-height: 1;

    margin-top: 0;

    text-transform: uppercase;
}

.main-wrapper h2
{
    font-size: 7.5vw;
    font-weight: 600;
}

.main-wrapper p
{
    font-size: 5.3vw;
    line-height: 1.3;
}

@media screen and (min-width: 550px)
{
    .main-wrapper
    {
        padding-top: 7.4rem;
    }
    .main-wrapper h1,
    .main-wrapper h2
    {
        font-size: 5.9vw;
        font-size: 5.9vmax;
    }
    .main-wrapper p
    {
        font-size: 3.9vw;
        font-size: 3.9vmax;
    }
}

@media screen and (min-width: 650px)
{
    .main-wrapper
    {
        margin-bottom: 7rem;
    }
    .main-wrapper h1,
    .main-wrapper h2
    {
        font-size: 5.4vw;
        font-size: 5.4vmax;
    }
    .main-wrapper p
    {
        font-size: 3.3vw;
        font-size: 3.3vmax;
    }
}

@media screen and (min-width: 900px)
{
    .main-wrapper
    {
        width: 70%;
        padding-top: 2.4rem;
    }
    .main-wrapper h1,
    .main-wrapper h2
    {
        font-size: 3.5vw;
        font-size: 3.5vmax;
    }
    .main-wrapper p
    {
        font-size: 2.5vw;
        font-size: 2.5vmax;
    }
}

/* --------------------------------

Main Components

-------------------------------- */
body::after,
body::before
{
    position: fixed;
    z-index: 1;
    left: 0;

    width: 100%;
    height: 50vh;
    /* these are the 2 half blocks which cover the content once the animation is triggered */

    content: '';
    -webkit-transition: -webkit-transform .35s .35s;
            transition: -webkit-transform .35s .35s;
            transition:         transform .35s .35s;
            transition:         transform .35s .35s, -webkit-transform .35s .35s;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    background-color: #fff;
    /* Force Hardware Acceleration */

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

body::before
{
    top: 0;

    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

body::after
{
    bottom: 0;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);
}

body.page-is-changing::after,
body.page-is-changing::before
{
    -webkit-transition: -webkit-transform .35s 0s;
            transition: -webkit-transform .35s 0s;
            transition:         transform .35s 0s;
            transition:         transform .35s 0s, -webkit-transform .35s 0s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

body
{
    overflow-x: hidden;
}

main
{
    height: 100vh;
}

main .cd-main-content
{
    position: relative;

    height: 100%;
}

main .cd-main-content > div
{
    overflow: hidden;

    -webkit-overflow-scrolling: touch;
}

main .cd-main-content.cd-index
{
    /* .cd-main-content basic style - index page */
    /* vertically center its content */
    display: table;
}

/*main .cd-main-content.cd-about {
	 .cd-main-content basic style - about page
	background-color: #283040;
}*/
@media only screen and (min-width: 768px)
{
    main .cd-main-content
    {
        height: 100%;
    }
    main.cd-index > div
    {
        padding-top: 200px;
    }
    main.cd-index > div
    {
        padding-top: 50px;
    }
}

.cd-cover-layer
{
    /* layer that covers the content when the animation is triggered */
    position: fixed;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity .35s .35s, visibility 0s .75s;
            transition: opacity .35s .35s, visibility 0s .75s;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);

    opacity: 0;
    background-color: #000;
}

.cd-about .cd-cover-layer
{
    background-color: #000;
}

.page-is-changing .cd-cover-layer
{
    visibility: visible;

    -webkit-transition: opacity .25s 0s, visibility 0s 0s;
            transition: opacity .25s 0s, visibility 0s 0s;

    opacity: 1;
}

@media only screen and (min-width: 768px)
{
    .cd-cover-layer
    {
        width: 100%;
        height: 100%;
    }
}

.cd-loading-bar
{
    /* this is the loding bar - visible while switching from one page to the following one */
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;

    visibility: hidden;

    width: .3125rem;
    height: .3125rem;

    -webkit-transition: visibility 0s .35s, -webkit-transform .35s 0s ease-in;
            transition: visibility 0s .35s, -webkit-transform .35s 0s ease-in;
            transition: visibility 0s .35s, transform .35s 0s ease-in;
            transition: visibility 0s .35s, transform .35s 0s ease-in, -webkit-transform .35s 0s ease-in;
    -webkit-transform: translateZ(0);
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(30);
            transform: translateZ(0);
            transform: translateX(-50%) translateY(-50%) scaleX(30);

    background-color: #000;
    /* Force Hardware Acceleration */

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.cd-about .cd-loading-bar
{
    background-color: #000;
}

.cd-about .cd-loading-bar::before
{
    background-color: #000;
}

.cd-loading-bar::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /* this is the progress bar inside the loading bar */

    content: '';
    -webkit-transform: translateZ(0);
    -webkit-transform: scaleX(0);
            transform: translateZ(0);
            transform: scaleX(0);
    -webkit-transform-origin: left center;
            transform-origin: left center;

    background-color: #000;
    /* Force Hardware Acceleration */

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.page-is-changing .cd-loading-bar
{
    visibility: visible;

    -webkit-transition: visibility 0s .25s, -webkit-transform .35s .35s;
            transition: visibility 0s .25s, -webkit-transform .35s .35s;
            transition: visibility 0s .25s, transform .35s .35s;
            transition: visibility 0s .25s, transform .35s .35s, -webkit-transform .35s .35s;
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(1);
            transform: translateX(-50%) translateY(-50%) scaleX(1);
}

.page-is-changing .cd-loading-bar::before
{
    -webkit-transition: -webkit-transform .75s .75s ease-in;
            transition: -webkit-transform .75s .75s ease-in;
            transition:         transform .75s .75s ease-in;
            transition:         transform .75s .75s ease-in, -webkit-transform .75s .75s ease-in;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}

.cd-btn
{
    display: block;

    margin-bottom: 3rem;
}

.table-wrapper
{
    display: table;
}

.slider-item
{
    display: table-cell;
}

.cd-transformacion-digital
{
    overflow-x: hidden;
}

.cd-transformacion-digital > div
{
    overflow: initial !important;

    height: auto;
}

.post
{
    width: 500px;
}

.header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row-reverse;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: botom;
    -ms-flex-align: botom;
    align-items: botom;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
}

.brand-logo,
.menu-toggle
{
    position: fixed;
    z-index: 2;
}

.brand-logo
{
    z-index: 6;
    top: 2rem;

    width: 10vw;
    max-width: 5rem;
    height: auto;
    max-height: 100%;
    margin-left: 7%;
}

@media screen and (min-width: 900px)
{
    .brand-logo
    {
        top: 2.5rem;

        margin-left: 3%;
    }
}

.brand-link path
{
    -webkit-animation: loading-logo 600ms ease-in-out forwards;
            animation: loading-logo 600ms ease-in-out forwards;
}

#menu-launcher:checked ~ .brand-link path
{
    -webkit-animation: none;
            animation: none;

    fill: #fff;
}

@-webkit-keyframes loading-logo
{
    from
    {
        fill: #fff;
    }
    to
    {
        fill: #000;
    }
}

@keyframes loading-logo
{
    from
    {
        fill: #fff;
    }
    to
    {
        fill: #000;
    }
}

#menu-launcher
{
    position: absolute !important;

    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.menu-toggle
{
    top: 2.6rem;
    right: 4.5%;

    -webkit-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
}

.menu-toggle:hover
{
    cursor: pointer;

    opacity: .8;
}

#menu-launcher:checked ~ nav .menu-toggle
{
    -webkit-transition: all 600ms ease-in-out;
            transition: all 600ms ease-in-out;
}

.menu-icon
{
    width: 15.5vw;
    width: 15.5vmax;
    max-width: 3.125rem;
    height: auto;
    max-height: 100%;

    cursor: pointer;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
}

.menu-icon path,
.menu-icon polyline
{
    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;

    fill: #000;
}

#menu-launcher:checked ~ nav .menu-icon path
{
    opacity: 0;
}

#menu-launcher:checked ~ nav .menu-icon polyline
{
    fill: #fff;
}

.top-line,
.bottom-line
{
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

#menu-launcher:checked ~ nav .top-line,
#menu-launcher:checked ~ nav .bottom-line
{
    -webkit-animation: menu-toggle .6s ease-in-out forwards;
            animation: menu-toggle .6s ease-in-out forwards;
}

@-moz-document url-prefix()
{
    .top-line,
    .bottom-line
    {
        transform-origin: 0 0;
    }
    .fix
    {
        transform: translate(14px, 15px);
    }
    .fix polyline
    {
        transform: translate(-14px, -15px);
        transform-origin: 0 0;
    }
}

@-webkit-keyframes menu-toggle
{
    0%
    {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    50%
    {
        -webkit-transform: translateY(13px);
                transform: translateY(13px);
    }
    to
    {
        -webkit-transform: translateY(13px) rotate(45deg) scale(1.35);
                transform: translateY(13px) rotate(45deg) scale(1.35);
    }
}

@keyframes menu-toggle
{
    0%
    {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    50%
    {
        -webkit-transform: translateY(13px);
                transform: translateY(13px);
    }
    to
    {
        -webkit-transform: translateY(13px) rotate(45deg) scale(1.35);
                transform: translateY(13px) rotate(45deg) scale(1.35);
    }
}

#menu-launcher:checked ~ nav .bottom-line
{
    -webkit-animation: menu-toggle-invert .6s ease-in-out forwards;
            animation: menu-toggle-invert .6s ease-in-out forwards;
}

@-webkit-keyframes menu-toggle-invert
{
    0%
    {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    50%
    {
        -webkit-transform: translateY(-13px);
                transform: translateY(-13px);
    }
    to
    {
        -webkit-transform: translateY(-13px) rotate(-45deg) scale(1.35);
                transform: translateY(-13px) rotate(-45deg) scale(1.35);
    }
}

@keyframes menu-toggle-invert
{
    0%
    {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    50%
    {
        -webkit-transform: translateY(-13px);
                transform: translateY(-13px);
    }
    to
    {
        -webkit-transform: translateY(-13px) rotate(-45deg) scale(1.35);
                transform: translateY(-13px) rotate(-45deg) scale(1.35);
    }
}

.middle-line
{
    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
}

#menu-launcher:checked ~ nav .middle-line
{
    opacity: 0;
}

.menu-list
{
    position: absolute;
    z-index: -1;
    z-index: 100;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
        flex-direction: column;

    width: 100%;
    height: 100%;
    padding-top: 6rem;

    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
    pointer-events: none;

    opacity: 0;
    background: #000;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (orientation: landscape)
{
    .menu-list
    {
        padding-top: 7rem;
    }
}

#menu-launcher:checked ~ nav .menu-list
{
    z-index: 1;

    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
    pointer-events: all;

    opacity: 1;
}

.menu-list .menu
{
    width: auto;
    margin: 0 7%;

    -webkit-transition: opacity .3s  .2s ease-in-out, -webkit-transform .3s .4s ease-in-out;
            transition: opacity .3s  .2s ease-in-out, -webkit-transform .3s .4s ease-in-out;
            transition: opacity .3s  .2s ease-in-out, transform .3s .4s ease-in-out;
            transition: opacity .3s  .2s ease-in-out, transform .3s .4s ease-in-out, -webkit-transform .3s .4s ease-in-out;

    opacity: 0;
}

@media screen and (min-width: 900px)
{
    .menu-list .menu
    {
        width: 77%;
        margin: 0  7% 0 15%;
    }
}

#menu-launcher:checked ~ nav .menu-list .menu
{
    opacity: 1;
}

.menu-item + .menu-item
{
    margin-top: 1rem;
}

.menu-link
{
    font-size: 6.5vw;
    font-size: 6.5vmax;
    font-weight: 600;
    line-height: 1;

    display: block;

    -webkit-transition: text-shadow .3s  .2s ease-in-out, color .3s  .2s ease-in-out, opacity .3s ease-in-out;
            transition: text-shadow .3s  .2s ease-in-out, color .3s  .2s ease-in-out, opacity .3s ease-in-out;
    text-decoration: none;

    color: transparent;
    text-shadow: 0 0 30px white;
}

.menu-link:hover
{
    opacity: .3;
}

.menu-link:before
{
    content: '. ';
}

#menu-launcher:checked ~ nav .menu-link
{
    color: #fff;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.menu-toggle
{
    -webkit-animation: loading-menu 1.5s ease-in-out forwards;
            animation: loading-menu 1.5s ease-in-out forwards;
}

@-webkit-keyframes loading-menu
{
    from
    {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);

        opacity: 0;
    }
    to
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}

@keyframes loading-menu
{
    from
    {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);

        opacity: 0;
    }
    to
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}

.company-data
{
    width: 85%;
    margin-top: 3rem;
    margin-bottom: 8vh;
    margin-left: 7%;

    -webkit-transition: text-shadow .3s  .25s ease-in-out, color .3s  .25s ease-in-out, opacity .3s ease-in-out;
            transition: text-shadow .3s  .25s ease-in-out, color .3s  .25s ease-in-out, opacity .3s ease-in-out;

    opacity: .7;
    color: #fff;
    color: transparent;
    text-shadow: 0 0 30px white;
}

@media screen and (min-width: 900px)
{
    .company-data
    {
        width: 70%;
        margin-left: 15%;
    }
}

#menu-launcher:checked ~ nav .company-data
{
    color: #fff;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.company-data a
{
    color: inherit;
}

.address-list
{
    font-size: .875rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.address-list li
{
    line-height: 1.2;

    margin-top: 1rem;
    margin-right: 5rem;
}

@media screen and (min-width: 450px)
{
    .address-list li
    {
        width: calc(50% - 3rem);
        margin-right: 3rem;

        vertical-align: top;
    }
}

@media screen and (min-width: 768px)
{
    .address-list li
    {
        width: calc(33.3% - 3rem);
    }
}

@media screen and (min-width: 1024px)
{
    .address-list li
    {
        width: calc(25% - 3rem);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .address-list li:last-child
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 100%;
    }
    .address-list li:last-child span
    {
        display: inline-block;

        margin-right: 2rem;
    }
}

@media screen and (min-width: 1280px)
{
    .address-list li
    {
        width: calc(20% - 3rem);
    }
}

.tel-link
{
    white-space: nowrap;
    text-decoration: none;
}

.address-list span
{
    display: block;

    margin: 0;

    white-space: nowrap;
}

.contact-link
{
    font-size: 1rem;

    position: fixed;
    z-index: 19;
    right: 0;
    bottom: 0;
    left: 0;
    left: auto;

    width: 10%;
    padding-left: 2rem;

    -webkit-transition: font-size .2s ease-in-out;
            transition: font-size .2s ease-in-out;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-animation: loading-footer 1.3s ease-in-out;
            animation: loading-footer 1.3s ease-in-out;
}

@media screen and (min-width: 450px)
{
    .contact-link
    {
        bottom: 5%;
    }
}

@media screen and (min-width: 900px)
{
    .contact-link
    {
        bottom: 7%;
    }
}

@media screen and (min-width: 1280px)
{
    .contact-link
    {
        bottom: 10%;
    }
}

#menu-launcher:checked ~ nav .contact-link
{
    font-size: 4.6vw;

    right: 5%;
}

@media screen and (min-width: 768px)
{
    #menu-launcher:checked ~ nav .contact-link
    {
        font-size: 3vw;

        right: 3%;
    }
}

@media screen and (min-width: 1024px)
{
    #menu-launcher:checked ~ nav .contact-link
    {
        font-size: 2vw;

        right: 1%;
    }
}

#menu-launcher:checked ~ nav .contact-link a
{
    color: #fff;
}

@-webkit-keyframes loading-footer
{
    from
    {
        bottom: 0;

        opacity: 0;
    }
    to
    {
        bottom: 10%;

        opacity: 1;
    }
}

@keyframes loading-footer
{
    from
    {
        bottom: 0;

        opacity: 0;
    }
    to
    {
        bottom: 10%;

        opacity: 1;
    }
}

/* Home body styles
========================================================================== */
.link__go-rehset
{
    font-size: 7.2vw;
}

@media screen and (min-width: 500px)
{
    .link__go-rehset
    {
        font-size: 8vw;
        line-height: 1;
    }
}

@media screen and (min-width: 650px)
{
    .link__go-rehset
    {
        font-size: 6.2vw;
        line-height: 1.2;
    }
}

@media screen and (min-width: 900px)
{
    .link__go-rehset
    {
        font-size: 4vw;
        font-size: 4vmax;
    }
}

.highlight.highlight
{
    font-size: 7.5vw;
    font-weight: 600;
    line-height: 1;
}

@media screen and (min-width: 550px)
{
    .highlight.highlight
    {
        font-size: 5.9vw;
        font-size: 5.9vmax;
    }
}

@media screen and (min-width: 650px)
{
    .highlight.highlight
    {
        font-size: 5.4vw;
        font-size: 5.4vmax;
    }
}

@media screen and (min-width: 900px)
{
    .highlight.highlight
    {
        font-size: 3.5vw;
        font-size: 3.5vmax;
    }
}

html,
body
{
    height: 100%;
}

.slider-wrapper input
{
    position: absolute !important;

    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.slides-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 80%;
    margin-top: 0;
}

@media screen and (min-width: 900px)
{
    .slides-list
    {
        width: 100%;
    }
}

.slide-item
{
    min-width: 100%;
    margin-top: 0;
    margin-right: 14%;

    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, opacity .3s ease-in-out;
            transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;

    opacity: .15;
}

@media screen and (min-width: 650px)
{
    .slide-item
    {
        opacity: .25;
    }
}

.slide-item h1
{
    margin-top: 0;
}

.navigation-zone label
{
    position: absolute;
    top: 0;
    right: -10%;

    display: none;

    width: 14%;
    height: 100%;

    cursor: pointer;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.slider-control:nth-of-type(1):checked ~ .slides-list li:nth-child(1),
.slider-control:nth-of-type(2):checked ~ .slides-list li:nth-child(2),
.slider-control:nth-of-type(3):checked ~ .slides-list li:nth-child(3),
.slider-control:nth-of-type(4):checked ~ .slides-list li:nth-child(4),
.slider-control:nth-of-type(5):checked ~ .slides-list li:nth-child(5)
{
    opacity: 1;
}

.slider-control:nth-of-type(2):checked ~ .navigation-zone label:nth-child(1),
.slider-control:nth-of-type(3):checked ~ .navigation-zone label:nth-child(2),
.slider-control:nth-of-type(4):checked ~ .navigation-zone label:nth-child(3),
.slider-control:nth-of-type(5):checked ~ .navigation-zone label:nth-child(4)
{
    right: auto;
    left: -10%;

    display: block;

    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

.slider-control:nth-of-type(1):checked ~ .navigation-zone label:nth-child(2),
.slider-control:nth-of-type(2):checked ~ .navigation-zone label:nth-child(3),
.slider-control:nth-of-type(3):checked ~ .navigation-zone label:nth-child(4),
.slider-control:nth-of-type(4):checked ~ .navigation-zone label:nth-child(5)
{
    z-index: 3;

    display: block;
}

.slider-control:nth-of-type(2):checked ~ .slides-list li
{
    -webkit-transform: translateX(-114%);
            transform: translateX(-114%);
}

.slider-control:nth-of-type(3):checked ~ .slides-list li
{
    -webkit-transform: translateX(-228%);
            transform: translateX(-228%);
}

.slider-control:nth-of-type(4):checked ~ .slides-list li
{
    -webkit-transform: translateX(-342%);
            transform: translateX(-342%);
}

.slider-control:nth-of-type(5):checked ~ .slides-list li
{
    -webkit-transform: translateX(-456%);
            transform: translateX(-456%);
}

.navigation-links
{
    font-size: 3.5vw;

    position: fixed;
    top: 43%;
    right: -.3rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (min-width: 900px)
{
    .navigation-links
    {
        font-size: 1.8vw;

        position: relative;

            flex-direction: row;

        margin-top: 5rem;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }
}

.navigation-links::before
{
    position: absolute;
    top: -.3rem;
    right: 1.5rem;

    width: 1px;
    height: 100%;

    content: '';

    opacity: .3;
    background: #000;
}

@media screen and (min-width: 650px)
{
    .navigation-links::before
    {
        right: 2rem;
    }
}

@media screen and (min-width: 900px)
{
    .navigation-links::before
    {
        top: -1rem;

        width: 100%;
        height: 1px;
    }
}

.navigation-links::after
{
    position: absolute;
    right: 1.5rem;

    width: .625rem;
    height: .625rem;

    content: '';
    -webkit-transition: left .3s ease-in-out;
            transition: left .3s ease-in-out;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);

    background: #000;
}

@media screen and (min-width: 650px)
{
    .navigation-links::after
    {
        right: 2rem;
    }
}

@media screen and (min-width: 900px)
{
    .navigation-links::after
    {
        top: -1rem !important;

        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}

.navigation-links label
{
    margin-top: 0;
    padding-bottom: 1rem;

    cursor: pointer;
    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
    text-align: center;

    opacity: .5;
}

@media screen and (min-width: 900px)
{
    .navigation-links label
    {
        width: 20%;
    }
    .navigation-links label + label
    {
        margin-left: 2rem;
    }
}

.slider-control:nth-of-type(1):checked ~ .navigation-links label:nth-child(1),
.slider-control:nth-of-type(2):checked ~ .navigation-links label:nth-child(2),
.slider-control:nth-of-type(3):checked ~ .navigation-links label:nth-child(3),
.slider-control:nth-of-type(4):checked ~ .navigation-links label:nth-child(4),
.slider-control:nth-of-type(5):checked ~ .navigation-links label:nth-child(5)
{
    opacity: 1;
}

.slider-control:nth-of-type(1):checked ~ .navigation-links::after
{
    top: 1.2vw;
}

@media screen and (min-width: 650px)
{
    .slider-control:nth-of-type(1):checked ~ .navigation-links::after
    {
        top: 1.4vw;
    }
}

@media screen and (min-width: 900px)
{
    .slider-control:nth-of-type(1):checked ~ .navigation-links::after
    {
        left: 7.95%;
    }
}

.slider-control:nth-of-type(2):checked ~ .navigation-links::after
{
    top: 22.4%;
}

@media screen and (min-width: 650px)
{
    .slider-control:nth-of-type(2):checked ~ .navigation-links::after
    {
        top: 24%;
    }
}

@media screen and (min-width: 900px)
{
    .slider-control:nth-of-type(2):checked ~ .navigation-links::after
    {
        left: 28.6%;
    }
}

.slider-control:nth-of-type(3):checked ~ .navigation-links::after
{
    top: 42%;
}

@media screen and (min-width: 650px)
{
    .slider-control:nth-of-type(3):checked ~ .navigation-links::after
    {
        top: 44%;
    }
}

@media screen and (min-width: 900px)
{
    .slider-control:nth-of-type(3):checked ~ .navigation-links::after
    {
        left: 49.5%;
    }
}

.slider-control:nth-of-type(4):checked ~ .navigation-links::after
{
    top: 62%;
}

@media screen and (min-width: 650px)
{
    .slider-control:nth-of-type(4):checked ~ .navigation-links::after
    {
        top: 64%;
    }
}

@media screen and (min-width: 900px)
{
    .slider-control:nth-of-type(4):checked ~ .navigation-links::after
    {
        left: 70.2%;
    }
}

.slider-control:nth-of-type(5):checked ~ .navigation-links::after
{
    top: 82%;
}

@media screen and (min-width: 650px)
{
    .slider-control:nth-of-type(5):checked ~ .navigation-links::after
    {
        top: 84%;
    }
}

@media screen and (min-width: 900px)
{
    .slider-control:nth-of-type(5):checked ~ .navigation-links::after
    {
        left: 91.15%;
    }
}

.clients-wrapper
{
    position: relative;
}

input[name='clients']
{
    position: absolute !important;

    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.clients-list,
.clients-desc
{
    display: inline-block;

    vertical-align: top;
}

@media screen and (max-width: 649px)
{
    .clients-list
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 100%;

        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

@media screen and (min-width: 650px)
{
    .clients-list
    {
        width: 33%;
    }
}

.clients-list label
{
    font-size: 5vw;
    font-weight: bold;
    line-height: 1.4;

    position: relative;

    display: block;

    width: 50%;
    margin-top: 0;

    cursor: pointer;
    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
}

@media screen and (min-width: 650px)
{
    .clients-list label
    {
        font-size: 3vw;

        width: 100%;
    }
}

@media screen and (min-width: 850px)
{
    .clients-list label
    {
        font-size: 2.4vw;
    }
}

@media screen and (min-width: 1024px)
{
    .clients-list label
    {
        font-size: 2.2vw;
    }
}

.clients-list label::before
{
    position: absolute;
    top: 50%;
    left: 0;

    width: .625rem;
    height: .625rem;

    content: '';
    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .5s ease-in-out;
            transition: opacity .3s ease-in-out, -webkit-transform .5s ease-in-out;
            transition: opacity .3s ease-in-out, transform .5s ease-in-out;
            transition: opacity .3s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    -webkit-transform: translate(-50%, -42%);
            transform: translate(-50%, -42%);

    opacity: 0;
    background: #000;
}

.clients-list label:hover
{
    opacity: .7;
}

.clients-desc
{
    width: 100%;
}

@media screen and (min-width: 650px)
{
    .clients-desc
    {
        width: 66%;
    }
}

.client-item
{
    position: relative;

    height: 0;
    margin-top: 0;

    -webkit-animation: out .5s ease-in-out;
            animation: out .5s ease-in-out;

    opacity: 0;
}

.client-item * + *
{
    margin-top: 1.2rem;
}

.client-item h2
{
    font-size: 6.5vw;
    font-weight: 600;
}

@media screen and (min-width: 650px)
{
    .client-item h2
    {
        font-size: 4vw;
    }
}

@media screen and (min-width: 850px)
{
    .client-item h2
    {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 1024px)
{
    .client-item h2
    {
        font-size: 3vw;
    }
}

.client-item h3
{
    font-size: 2.8vw;
    font-size: 2.8vmax;
    font-weight: 600;

    padding-top: .3rem;

    text-transform: uppercase;
}

.client-item h3 + *
{
    margin-top: .4rem;
}

@-webkit-keyframes out
{
    0%
    {
        margin-top: 0;

        opacity: 1;
    }
    50%
    {
        margin-top: 0;
    }
    to
    {
        margin-top: 4.5rem;

        opacity: 0;
    }
}

@keyframes out
{
    0%
    {
        margin-top: 0;

        opacity: 1;
    }
    50%
    {
        margin-top: 0;
    }
    to
    {
        margin-top: 4.5rem;

        opacity: 0;
    }
}

.clients-control:nth-of-type(1):checked ~ .clients-desc .client-item:nth-of-type(1),
.clients-control:nth-of-type(2):checked ~ .clients-desc .client-item:nth-of-type(2),
.clients-control:nth-of-type(3):checked ~ .clients-desc .client-item:nth-of-type(3),
.clients-control:nth-of-type(4):checked ~ .clients-desc .client-item:nth-of-type(4),
.clients-control:nth-of-type(5):checked ~ .clients-desc .client-item:nth-of-type(5),
.clients-control:nth-of-type(6):checked ~ .clients-desc .client-item:nth-of-type(6),
.clients-control:nth-of-type(7):checked ~ .clients-desc .client-item:nth-of-type(7),
.clients-control:nth-of-type(8):checked ~ .clients-desc .client-item:nth-of-type(8),
.clients-control:nth-of-type(9):checked ~ .clients-desc .client-item:nth-of-type(9),
.clients-control:nth-of-type(10):checked ~ .clients-desc .client-item:nth-of-type(10),
.clients-control:nth-of-type(11):checked ~ .clients-desc .client-item:nth-of-type(11),
.clients-control:nth-of-type(12):checked ~ .clients-desc .client-item:nth-of-type(12)
{
    -webkit-transition: opacity .3s .2s ease-in-out, margin-top .3s .2s ease-in-out, height .3s .2s ease-in-out;
            transition: opacity .3s .2s ease-in-out, margin-top .3s .2s ease-in-out, height .3s .2s ease-in-out;
    -webkit-animation: in .8s .3s ease-in-out forwards;
            animation: in .8s .3s ease-in-out forwards;

    opacity: 1;
}

@-webkit-keyframes in
{
    from
    {
        height: 0;
        margin-top: 3rem;

        opacity: 0;
    }
    to
    {
        height: auto;
        margin-top: 0;

        opacity: 1;
    }
}

@keyframes in
{
    from
    {
        height: 0;
        margin-top: 3rem;

        opacity: 0;
    }
    to
    {
        height: auto;
        margin-top: 0;

        opacity: 1;
    }
}

.clients-control:nth-of-type(1):checked ~ .clients-list label:nth-of-type(1)::before,
.clients-control:nth-of-type(2):checked ~ .clients-list label:nth-of-type(2)::before,
.clients-control:nth-of-type(3):checked ~ .clients-list label:nth-of-type(3)::before,
.clients-control:nth-of-type(4):checked ~ .clients-list label:nth-of-type(4)::before,
.clients-control:nth-of-type(5):checked ~ .clients-list label:nth-of-type(5)::before,
.clients-control:nth-of-type(6):checked ~ .clients-list label:nth-of-type(6)::before,
.clients-control:nth-of-type(7):checked ~ .clients-list label:nth-of-type(7)::before,
.clients-control:nth-of-type(8):checked ~ .clients-list label:nth-of-type(8)::before,
.clients-control:nth-of-type(9):checked ~ .clients-list label:nth-of-type(9)::before,
.clients-control:nth-of-type(10):checked ~ .clients-list label:nth-of-type(10)::before,
.clients-control:nth-of-type(11):checked ~ .clients-list label:nth-of-type(11)::before,
.clients-control:nth-of-type(12):checked ~ .clients-list label:nth-of-type(12)::before
{
    -webkit-transform: translate(-200%, -42%);
            transform: translate(-200%, -42%);

    opacity: 1;
}
