#col1{
		width:1%;
	}
	#logoR{
		width:200px;
		margin-top:-10pt;
	}
	#col2{
		width:98%;
		margin-left:-20pt;
	}
	#col2 h1{
		font-size:3vw;
	}
	#fixed{
		width:100%;
		height:110pt;
		position:fixed;
	}
	#col3{
		margin-top:150pt;
		margin-left:160pt;
		margin-right:100pt;
	}
	#col3 img{
		width:60%;
	}
	.row{
		margin-bottom:45pt;
	}
	.hiddenText{
		display:none;
		color:#fff;
		border-top:4px solid white;
		margin-top:15px;
		font-weight:bold;
	}
	@media 
	only screen and (max-width: 1100px),
	(min-device-width: 1100px) and (max-device-width: 1100px)  {
		
		#logoR{
			width:100px;
			margin-top:-5pt;
		}
		#col2{
			width:80%;
			margin-left:40pt;
			margin-top:-15pt
		}
		#col2 h1{
			font-size:3vw;
		}
		#col3 img{
			width:70%;
		}
	}
	@media 
	only screen and (max-width: 1024px),
	(min-device-width: 1024px) and (max-device-width: 1024px)  {
		
		#logoR{
			width:120px;
			margin-top:-5pt;
		}
		#col2{
			width:80%;
			margin-left:40pt;
			margin-top:-80pt
		}
		#col2 h1{
			font-size:3vw;
		}
		#col3 img{
			width:120px;
		}
		#col3{
			margin-top:110pt;
			margin-left:100pt;
			margin-right:100pt;
		}
	}
	@media 
	only screen and (max-width: 900px),
	(min-device-width: 900px) and (max-device-width: 900px)  {
		
		#logoR{
			width:120px;
			margin-top:-5pt;
		}
		#col2{
			width:80%;
			margin-left:40pt;
			margin-top:-115pt
		}
		#col2 h1{
			font-size:3vw;
		}
		#col3 img{
			width:120px;
		}
		#col3{
			margin-top:110pt;
			text-align:center;
		}
	}
	@media 
	only screen and (max-width: 600px),
	(min-device-width: 600px) and (max-device-width: 600px)  {
		#logoR{
			width:80px;
		}
		#col2{
			width:80%;
			margin-left:40pt;
			margin-top:-94pt
		}
		#col3 img{
			width:80%;
		}
		#col3{
			margin-top:110pt;
			text-align:center;
		}
	}